#templates { display: none; }
small { position: fixed; bottom: 4px; right: 4px; }

body{
  background-image: url(stars.jpg);
  width: 100%;
  color: #fff;
}
.inputstuff{
  width: 95%;
  display: block;
  margin: 0 auto 0 auto;
}
.inputstuff h4{
  margin-left: 45px;
}

h1{
  color: #000;
  text-shadow: 1px 1px 1px #fff, -1px -1px 5px #fff; 
  text-align: center;
  text-transform: uppercase;
  font-size: 60px;
}

#library {
  padding: 1px 20px;
  border-radius: 5px;
  margin-right: auto;
  margin-left: auto;
  display: block;
  width: 90%;
 }

#library h3 {
  font-style: italic;
}

#library h5 {
  font-weight: normal;
  text-transform: uppercase;
}

.button{
  width: 200px;
  height: 30px;
  text-transform: capitalize;
}

#library div{
  background-color: #FFEBBF;
  border: 2px solid #000;
  margin: 10px 5px 0 5px;
  text-align: center;
  box-shadow: 1px 1px 2px #fff;
  display: inline-block;
  width: 250px;
  border-radius: 10%;
  color: #000;
  /*generated css gradient*/
  background: #efc994; /* Old browsers */
  background: -moz-linear-gradient(45deg,  #efc994 0%, #ffffcc 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#efc994), color-stop(100%,#ffffcc)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(45deg,  #efc994 0%,#ffffcc 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(45deg,  #efc994 0%,#ffffcc 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(45deg,  #efc994 0%,#ffffcc 100%); /* IE10+ */
  background: linear-gradient(45deg,  #efc994 0%,#ffffcc 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efc994', endColorstr='#ffffcc',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  }